samples: 
     path: "/tier4/DSC/GATK/ehlim/gatk_germline_pipeline/resources/samples/"


ref:
    path: "/tier4/DSC/GATK/ehlim/gatk_germline_pipeline/resources/references/hg19/"


knowndb:
    dbSNP: "/tier4/DSC/GATK/jgjeong/standardDB/vcfDB/dbsnp_138.hg19.vcf"


readingtype: "paired" #paired(default) or single 

jointcalling: true 
    

filtering:
    vqsr: false
    cnn: false
    hard:
        snvs:
            "QD < 2.0 || FS > 60.0 || MQ < 40.0 || MQRankSum < -12.5 || ReadPosRankSum < -8.0"
        indels:
            "QD < 2.0 || FS > 200.0 || ReadPosRankSum < -20.0"


processing:
    remove-duplicates: true
    # Uncomment and point to a bed file with, e.g., captured regions if necessary,
    # see https://gatkforums.broadinstitute.org/gatk/discussion/4133/when-should-i-use-l-to-pass-in-a-list-of-intervals.
    # restrict-regions: captured_regions.bed
    # If regions are restricted, uncomment this to enlarge them by the given value in order to include
    # flanking areas.
    # region-padding: 100


params:
    bwa:
        readgroup: "-RGID inco -RGSM BRCA_NA12892 -RGLB BRCA_NA12892 -RGPU illumina  -RGPL illumina"
    gatk:
        HaplotypeCaller: "-ERC GVCF"
        GenomicsDBimport: "-merge-input-intervals true"
        BaseRecalibrator: ""
        GenotypeGVCFs: ""
        VariantRecalibrator: ""
        MarkDuplicates: "REMOVE_DUPLICATES false"
    trimmomatic:
        trimmer:
            - "LEADING:3"
            - "TRAILING:3"
            - "SLIDINGWINDOW:4:15"
            - "MINLEN:36"
        adapter: "/tier4/DSC/GATK/ehlim/gatk_germline_pipeline/resources/adapters/TruSeq3-PE.fa" 
